/* to make it look same, and style the way we want, we make it normalised. */

$color-primary: #7ed567;
$color-primary-light: #55c571;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
