*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; easier to manipulte using rem.*/
  /* font-size: 10px; */
  font-size: 62.5%;
}

/* lets put up font realted stuff here in body, coz it inhierts */
body {
  box-sizing: border-box;
}
