/* to make it look same, and style the way we want, we make it normalised. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* lets put up font realted stuff here in body, coz it inhierts */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  /* Nicely adjust to the viewport. */
  background-size: cover;
  /*make it stick the top whenever we change the dimension of the window.  */
  background-position: top;

  /*to give that clipping effect to the header part, adding up clipping coordiantes  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;
}

.logo-box {
  /* to get a refernce we always set the parent element's position as realtive */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
  /* the width will be auto scaled by the browesrer, and vice-versa, follow any one of the convetion always. */
}

.text-box {
  position: absolute;
  /* This is will go to the exact 50% of the parent elemeent, and our box element gets start referncing from there. */
  top: 40%;
  left: 50%;
  /* so to make it proper lets make it tranform it a little. */
  /* how this works is coz, the obj's center has to be placed at exact parent centers, we place its refernce at 
  parent's center first, and we make reverse positioning and sending it back.*/
  transform: translate(-50%, -50%);
  /* for the button to be shifted to center */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* we get some sort of shaking at the end of the animation at corners so to fix it */
  backface-visibility: hidden;

  margin-bottom: 60px;
}

/* making it block from inline, makes it take entire 100% width and gives itself a line break. */
.heading-primary-main {
  font-size: 60px;
  letter-spacing: 35px;
  display: block;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* animation-iteration-count: 3; 
  animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-weight: 700;
  letter-spacing: 17.4px;
  font-size: 20px;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* Animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* using transform propertiy */
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* using transform propertiy */
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* using transform propertiy */
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* button */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all 0.2s;

  /* to make it refernce for after pesudo class  */
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  /* x y blurr color */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  color: #777;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
}

/* lets put in that after effet */
.btn::after {
  /* this is treated as a child of the parent, like gets realtive to it */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  /* now to make it to be in behind teh button */
  position: absolute;
  left: 0;
  top: 0;

  /* make it stay behind */
  z-index: -1;

  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  /* we get our button there by the page reolads, and gets its animation later, so to apply 0% animtion styles use */
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
