/* to make it look same, and style the way we want, we make it normalised. */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; easier to manipulte using rem.*/
  /* font-size: 10px; */
  font-size: 62.5%; }

/* lets put up font realted stuff here in body, coz it inhierts */
body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 62.5%; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* we get some sort of shaking at the end of the animation at corners so to fix it */
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* making it block from inline, makes it take entire 100% width and gives itself a line break. */ }
  .heading-primary--main {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    display: block;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; 
  animation-delay: 3s; */ }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #55c571, #28b485);
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* Animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* using transform propertiy */
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* using transform propertiy */
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* using transform propertiy */
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 113, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /* Nicely adjust to the viewport. */
  background-size: cover;
  /*make it stick the top whenever we change the dimension of the window.  */
  background-position: top;
  /*to give that clipping effect to the header part, adding up clipping coordiantes  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    /* to get a refernce we always set the parent element's position as realtive */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    /* the width will be auto scaled by the browesrer, and vice-versa, follow any one of the convetion always. */ }
  .header__text-box {
    position: absolute;
    /* This is will go to the exact 50% of the parent elemeent, and our box element gets start referncing from there. */
    top: 40%;
    left: 50%;
    /* so to make it proper lets make it tranform it a little. */
    /* how this works is coz, the obj's center has to be placed at exact parent centers, we place its refernce at 
  parent's center first, and we make reverse positioning and sending it back.*/
    transform: translate(-50%, -50%);
    /* for the button to be shifted to center */
    text-align: center; }

/* button */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  /* to make it refernce for after pesudo class  */
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  /* x y blurr color */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  color: #777;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  /* this is treated as a child of the parent, like gets realtive to it */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /* now to make it to be in behind teh button */
  position: absolute;
  left: 0;
  top: 0;
  /* make it stay behind */
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  /* we get our button there by the page reolads, and gets its animation later, so to apply 0% animtion styles use */
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed567;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed567;
  padding: 3px; }

.btn-text:hover {
  background-color: #7ed567;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * (100% - (6rem * 2)) / 3 + 6rem); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - (6rem * 3))) / 4 + 6rem); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1.5rem solid #7ed567;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
